flows.json
[{"id":"6e3cc449.cdc5bc","type":"tab","label":"Telegram e Watson","disabled":false,"info":""},{"id":"68e3589a.29a8a8","type":"telegram receiver","z":"6e3cc449.cdc5bc","name":"Watsonbot","bot":"256fb36f.2f394c","saveDataDir":"","filterCommands":false,"x":80,"y":400,"wires":[["6073ffbf.9ad67","9261d265.6304b"],[]]},{"id":"f34c6b06.0491c8","type":"function","z":"6e3cc449.cdc5bc","name":"F1 Input_voz","func":"/* funcao_1.js\n * Gerando o payload para o Speech to Text\n * Outubro 2020\n */\n\nmsg.chatId = msg.payload.chatId;\nmsg.model = \"pt-BR_BroadbandModel\";\nmsg.payload = msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":300,"wires":[["90ed13bb.61371"]]},{"id":"90ed13bb.61371","type":"watson-speech-to-text","z":"6e3cc449.cdc5bc","name":"","alternatives":"1","speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"","word-confidence":false,"password":"","apikey":"d_-kr98iIoIL9-qtFsypDHeEh65OJvyK2EUayt9dnagp","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":640,"y":300,"wires":[["e20f3690.b89d28","ab3d8b5e.d2ded8"]]},{"id":"e20f3690.b89d28","type":"function","z":"6e3cc449.cdc5bc","name":"F2 - Output","func":"/* funcao_2.js\n * Gerando o payload a partir da saída do Speech to Text\n * Outubro 2020\n */\n\nmsg.payload = {\n  \tchatId : msg.chatId,\n  \ttype : \"message\",\n  \tcontent : msg.transcription\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":300,"wires":[["8df8e2fe.9e147"]]},{"id":"ab3d8b5e.d2ded8","type":"debug","z":"6e3cc449.cdc5bc","name":"Transcrição","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":220,"wires":[]},{"id":"85457de4.8837a","type":"telegram sender","z":"6e3cc449.cdc5bc","name":"","bot":"256fb36f.2f394c","x":970,"y":640,"wires":[[]]},{"id":"6073ffbf.9ad67","type":"debug","z":"6e3cc449.cdc5bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":180,"wires":[]},{"id":"9261d265.6304b","type":"switch","z":"6e3cc449.cdc5bc","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"voice","vt":"str"},{"t":"eq","v":"message","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":380,"wires":[["f34c6b06.0491c8"],["8df8e2fe.9e147"],["9068f84b.a471d8"]]},{"id":"8df8e2fe.9e147","type":"function","z":"6e3cc449.cdc5bc","name":"F3 - Transcritor","func":"/* funcao_3.js\n * Transcritor de texto em comandos\n * Outubro 2020\n */\n\nmsg.payload = {\n   chatId: msg.payload.chatId,\n   type: \"message\",\n   content: getComando(msg.payload.content)\n};\n\nreturn msg\n\nfunction getComando(mensagem) {\n   mensagem = mensagem.toLowerCase()\n   let re_on = /ligar|ativar|acender/\n   let re_off = /desligar|desativar|apagar/\n   if (mensagem.match(re_off)) {\n      return getDispositivo(mensagem, 'off')\n   } else if (mensagem.match(re_on)) {\n      return getDispositivo(mensagem, 'on')\n   } else {\n      return 'Comando não encontrado!';\n   }\n\n}\n\nfunction getDispositivo(comando, status) {\n   let re_ilumicao = /luz|lâmpada|lampada|iluminação|iluminacao/\n   let re_ar = /condicionado|condicionador|condicionamento|split/\n   if (comando.match(re_ilumicao)) {\n      return getLocal(comando, status)\n   } else if (comando.match(re_ar)) {\n      return 'ar_' + status\n   } else {\n      return 'Dispositivo inválido!'\n   }\n}\n\nfunction getLocal(comando_2, status_2) {\n   if (comando_2.includes('quarto')) {\n      return 'luz_' + status_2 + '_qtr'\n   } else if (comando_2.includes('sala')) {\n      return 'luz_' + status_2 + '_sala'\n   } else if (comando_2.includes('cozinha')) {\n      return 'luz_' + status_2 + '_czn'\n   } else {\n      return 'Dispositivo inválido!'\n   }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":380,"wires":[["37ffbd58.862592","34e16b57.808fd4","9068f84b.a471d8"]]},{"id":"37ffbd58.862592","type":"debug","z":"6e3cc449.cdc5bc","name":"output_function","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":380,"wires":[]},{"id":"34e16b57.808fd4","type":"switch","z":"6e3cc449.cdc5bc","name":"Dispositivos","property":"payload.content","propertyType":"msg","rules":[{"t":"cont","v":"luz_","vt":"str"},{"t":"cont","v":"ar_","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":460,"wires":[["eb6d0f07.d6bbe"],["7e928b7c.b9a5f4"]]},{"id":"336d53b.2a006ac","type":"ui_text","z":"6e3cc449.cdc5bc","group":"16421a1e.bbd786","order":1,"width":"0","height":"0","name":"Lâmpada","label":"Lâmpada do Quarto","format":"<font color={{(msg.payload.content.includes('on'))?'lime':'red'}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":1200,"y":400,"wires":[]},{"id":"7e928b7c.b9a5f4","type":"ui_text","z":"6e3cc449.cdc5bc","group":"16421a1e.bbd786","order":4,"width":"0","height":"0","name":"Ar Condicionado","label":"Ar","format":"<font color={{(msg.payload.content.includes('on'))?'lime':'red'}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":1010,"y":560,"wires":[]},{"id":"eb6d0f07.d6bbe","type":"switch","z":"6e3cc449.cdc5bc","name":"Ambientes","property":"payload.content","propertyType":"msg","rules":[{"t":"cont","v":"_qtr","vt":"str"},{"t":"cont","v":"_sala","vt":"str"},{"t":"cont","v":"_czn","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":950,"y":440,"wires":[["336d53b.2a006ac"],["dd7cf11c.12233"],["e723d58b.5ea718"]]},{"id":"dd7cf11c.12233","type":"ui_text","z":"6e3cc449.cdc5bc","group":"16421a1e.bbd786","order":2,"width":"0","height":"0","name":"Lâmpada","label":"Lâmpada da Sala","format":"<font color={{(msg.payload.content.includes('on'))?'lime':'red'}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":1200,"y":440,"wires":[]},{"id":"e723d58b.5ea718","type":"ui_text","z":"6e3cc449.cdc5bc","group":"16421a1e.bbd786","order":3,"width":"0","height":"0","name":"Lâmpada","label":"Lâmpada da Cozinha","format":"<font color={{(msg.payload.content.includes('on'))?'lime':'red'}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":1200,"y":480,"wires":[]},{"id":"9068f84b.a471d8","type":"function","z":"6e3cc449.cdc5bc","name":"F4 - Resposta","func":"/* funcao_4.js\n * Gerando o payload de log para ser enviado como resposta no telegram.\n * Outubro 2020\n */\n\nmsg.payload = {\n    chatId: msg.payload.chatId,\n    type: \"message\",\n    content: getSender(msg.payload.content)\n};\n\nreturn msg\n\nfunction getSender(log) {\n    switch (log) {\n        case 'ar_on':\n            return 'Telegram_iot: O ar condicionado foi ligado.'\n        case 'ar_off':\n            return 'Telegram_iot: O ar condicionado foi desligado.'\n        case 'luz_on_qtr':\n            return 'Telegram_iot: A lâmpada do quarto foi acesa.'\n        case 'luz_off_qtr':\n            return 'Telegram_iot: A lâmpada do quarto foi apagada.'\n        case 'luz_on_sala':\n            return 'Telegram_iot: A lâmpada da sala foi acesa.'\n        case 'luz_off_sala':\n            return 'Telegram_iot: A lâmpada da sala foi apagada.'\n        case 'luz_on_czn':\n            return 'Telegram_iot: A lâmpada da cozinha foi acesa.'\n        case 'luz_off_czn':\n            return 'Telegram_iot: A lâmpada da cozinha foi apagada.'\n    }\n    return \"Telegram_iot: Comando inválido!\"\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":640,"wires":[["85457de4.8837a"]]},{"id":"256fb36f.2f394c","type":"telegram bot","z":"","botname":"Helton","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"16421a1e.bbd786","type":"ui_group","z":"","name":"Dispositivos","tab":"4d8441d4.277c7","order":1,"disp":true,"width":"6","collapse":false},{"id":"4d8441d4.277c7","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]