flows.json
[{"id":"6e3cc449.cdc5bc","type":"tab","label":"Telegram e Watson","disabled":false,"info":""},{"id":"68e3589a.29a8a8","type":"telegram receiver","z":"6e3cc449.cdc5bc","name":"Watsonbot","bot":"256fb36f.2f394c","saveDataDir":"","filterCommands":false,"x":100,"y":220,"wires":[["f34c6b06.0491c8","6073ffbf.9ad67"],[]]},{"id":"f34c6b06.0491c8","type":"function","z":"6e3cc449.cdc5bc","name":"Função #1","func":"msg.chatId = msg.payload.chatId;\nmsg.model = \"pt-BR_BroadbandModel\";\nmsg.payload = msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":200,"wires":[["90ed13bb.61371"]]},{"id":"90ed13bb.61371","type":"watson-speech-to-text","z":"6e3cc449.cdc5bc","name":"","alternatives":"1","speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"","word-confidence":false,"password":"","apikey":"d_-kr98iIoIL9-qtFsypDHeEh65OJvyK2EUayt9dnagp","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":540,"y":200,"wires":[["e20f3690.b89d28","ab3d8b5e.d2ded8"]]},{"id":"c7fbbd16.29e7a","type":"debug","z":"6e3cc449.cdc5bc","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":260,"wires":[]},{"id":"e20f3690.b89d28","type":"function","z":"6e3cc449.cdc5bc","name":"Função #2","func":"/* Function10.js\n * Prepare output transcription to be sent to Telegram bot\n * v 1.0\n * November 2018\n */\n\nmsg.payload = {\n  \tchatId : msg.chatId,\n  \ttype : \"message\",\n  \tcontent : msg.transcription\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":260,"wires":[["c7fbbd16.29e7a","85457de4.8837a"]]},{"id":"ab3d8b5e.d2ded8","type":"debug","z":"6e3cc449.cdc5bc","name":"Transcrição","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":140,"wires":[]},{"id":"85457de4.8837a","type":"telegram sender","z":"6e3cc449.cdc5bc","name":"","bot":"256fb36f.2f394c","x":880,"y":420,"wires":[[]]},{"id":"6073ffbf.9ad67","type":"debug","z":"6e3cc449.cdc5bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":300,"y":120,"wires":[]},{"id":"256fb36f.2f394c","type":"telegram bot","z":"","botname":"Helton","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]